h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 20px;
}
html, body {
    padding: 0px;
    height: 100%;
}

.sections {
    width: 100%;
    height: 100%;
}
    
.sectionOne_img {
    /* background-image: url(../images/weddingBackground.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; */

    background-color: white;
}

.downArrow {
    font-size:60px;
    position: absolute;
    bottom: 30px;
    margin: 0 48%;
    color: black;
    z-index: 10px;
    opacity: 0.3;
}

.tint {
    background-color: whitesmoke;
    opacity: 0.1;
}

.sectionTwo {
    width: 100%;
    height: 40%;
    background-color: rgb(53, 53, 53);
}

.aboutMePhoto {
    width: 50%;
}

.sectionThree_img {
    background-image: url(../images/Ideas.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.sectionFour {
    height: 75%;
}

.sectionFive_img {
   background-color: black;
}

h3 {
    color: white;
    font-family: 'Vast Shadow', cursive;
    font-family: 'Bowlby One SC', cursive;
    font-family: 'Oxygen Mono', monospace;
}

.name {
    color: white;
    position: relative;
    top: 200px;
    font-size: 40px;
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Chonburi', cursive;
    font-family: 'Racing Sans One', cursive;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Tauri', sans-serif;
    font-family: 'Bowlby One SC', cursive;
    font-family: 'Metrophobic', sans-serif;
    font-family: 'Oxygen Mono', monospace;
    font-family: 'Graduate', cursive;
    /* font-family: 'Vast Shadow', cursive; */
    /* font-family: 'Poller One', cursive; */
}

.myNav {
    background-color: black;
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 3px 10px;
    padding-top: 0.5%;
}

li {
    margin: 0px 3%;
}
.buffer {
    margin-left: 8%;
    margin-right: 5%;
}
.nav {
    left: 40px;
}
#active {
    font-size: 18px;
    background-color: whitesmoke;
    color: black;
    padding: 4px 20px;
}

.nav-link {
    color: whitesmoke;
    text-transform: uppercase;
}